[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
markdown = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
django-haystack = "*"

[dev-packages]

[requires]
python_version = "3.10"
